
body{
  margin: auto;
  padding: 0;
  max-width: 1980px;
  font-family: 'Zen Kaku Gothic Antique';
  background:#00070d;
  overflow-y: scroll;
  scroll-behavior: smooth;

}

/* ========================================== */
/*       HOVERABLE/CLICKABLE STYLES           */
/* ========================================== */
a{
  color:#7cff78;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.link{
  position: relative;

}
.link:after{
  content: "";
  position: absolute;
  background-color:#ff0090;
  height: 3px;
  width: 0;
  left: 0;
  transition: 0.5s;
  bottom: -10px;
}

.link:hover:after{
  width: 100%;
}
a:hover{
  color:#7cff78;
}
.link-w-bg{
  background-color: rgba(0, 33, 51, 0.7);
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
}


/* =====================   */
/* GENERAL STYLING         */
/* =====================   */
/* titles */
.main-title{
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-family: Arial;
}
.title{
  text-align: center;
  color: #ff0090;
  letter-spacing: 3px;
}
.small-titles{
  font-size: 1rem;
  margin:auto;
  letter-spacing: 5px;
}

/* letter spacing */
.letter-space{
  letter-spacing: 5px;
}
.bottom-space-3rem{
  padding-bottom: 3rem;
}
/* others */
hr{
  color: green;
  font-weight: bolder;
  padding-bottom: 1px;
}
/* ========================================== */
/*            NAVIGATION BAR STYLES           */
/* ========================================== */
.navbar{
  padding: 10px 30px 10px 30px;
  width: 100%;
  background-color: rgba(0, 26, 54, 0.3);
  z-index: 1;
  position: fixed;
}
.brand{
  font-size: 0.9rem;
  padding: 5px;
}

/* CV styling */
.cv{
  border:2px solid;
  border-color: yellow;
  border-radius: 5px;
}

.menu-bttn{
  float: right;
  background: none;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: white;
}
/* SIDEBAR POP UP STYLE */
.menu-container{
  display: none;
  height: 100vh;
  width: 100%;
  max-width: 1980px;
  position: fixed;
  background-color: rgba(0, 13, 28, 0.9);
  z-index: 1;
  text-align: center;
  transition: 1s ease;
}

.menu-container ul{
  list-style: none;
  padding: 100px 0px 0px 0px;

}
.menu-container ul li{
  padding: 20px;
  font-size: 1.3rem;
}

/* NAVBAR LINKS HOVERABLE */
.navbar-link{
  padding: 20px;
  transition: 0.5s ease;
  font-family: Arial;
  font-weight: bolder;
}
.navbar-link:hover{
  background-color: rgba(5, 52, 107, 0.5);
  color: white;
}
.x-button{
  font-style: 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  float: right;
  background: none;
  border: none;
  color: white;
  transition: 1s ease;
  padding: 20px;
}

/* ========================================== */
/*      PAGE CONTAINER/ SECTIONS STYLES       */
/* ========================================== */

.row{
  position: relative;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding-top: 50px;
}


.section-container{
  margin: auto;
  position: relative;
}

/* ========================================== */
/*               EMPHASIZE STYLES             */
/* ========================================== */
.emphasize{
  color:#47eafc;
}

/* ========================================== */
/*               HOME PAGE STYLES             */
/* ========================================== */

.home-container{
  text-align: center;
  position: relative;
  color:#ffffff;
}
.wrapper{
  justify-content: center;
  align-content: center;
  height: 100%;
}
.opening-text-container{
  padding-top: 60px;
  padding-bottom:100px;
}

.name{
  padding: 100px 5px 20px 5px;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
  color: #ffc73b;
  font-size: 2.5em;
  font-weight: bolder;
}

@keyframes show{
  from {top: -30px;}
  to {top: 0px; opacity:100%;}
}

.divider{
  font-weight: bolder;
  font-size: 20px;
}

.starting-paragraph{
  font-size: 25px;
  letter-spacing: 2px;
}
.motto{
  letter-spacing: 2px;
}
/* CV button */
.cv-button{
  background: none;
  color:#7cff78;
  font-weight: bold;
  border: 1px solid white;
  padding:10px 15px 15px 15px;
  border-radius: 5px 30px 10px 30px;
}
/* ========================================== */
/*              ARROW DOWN STYLES             */
/* ========================================== */
.arrow{
  position: relative;
  left:49.3%;
}
.arrow-down{
  display:block;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid yellow;
  border-right: 1px solid yellow;
  transform: rotate(45deg);
  animation: scroll 2s infinite;
}

.arrow span:nth-child(2){
  animation-duration: -1s;
}
.arrow span:nth-child(3){
  animation-duration: -2s;
}

@keyframes scroll {
  0%{opacity: 0;transform: rotate(45deg) translate(-5px, -5px);}
  50%{opacity: 0.5;}
  100%{opacity: 1;transform: rotate(45deg) translate(5px, 5px);}
}

/* ========================================== */
/*          INFORMATION SECTION STYLES        */
/* ========================================== */
#info-section{
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.information-container{
  max-width: 1000px;
  position: relative;
  margin:auto;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding: 20px 50px 30px 50px;
}
.about-me-title
{
  font-size: 1.1rem;
  padding-bottom: 10px;
}
.paragraph{
  font-size: 1rem;
  letter-spacing: 1px;
  color: #edfffe;
}
.opening-paragraph{
  font-weight: bolder;
  font-family: Arial;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}
.opening-p-span{
  color: transparent;
  letter-spacing: 5px;
  position: relative;
  -webkit-text-stroke: 2px #ff0090;

}
.opening-p-span:before{
  content: attr(data-text);
  position: absolute;
  width: 0;
  color: #ff0090;
  overflow: hidden;
  transition: 0.8s;
}
.opening-p-span:hover:before{
  width: 100%;
}

#info-section p span{
  font-weight: bolder;
}
#infoReadMe{
  background-color: transparent;
  border: none;
  color:#7cff78;
  letter-spacing: 3px;

}
#moreInformation{
  display: none;
  transition: 0.5s ease;
}
/* ========================================== */
/*        SERVICES SECTION STYLING            */
/* ========================================== */


/* ========================================== */
/*          TECHNOLOGY SUMMARY STYLES         */
/* ========================================== */
#tech-summary-section{
  padding-top: 50px;
}
.tech-summary-container{
  position: relative;
  padding: 30px 0px 20px 0px;
  max-width: 1000px;
  margin:auto;
  border-radius: 50px;
  background-color: rgba(0, 67, 102, 0.2);
}

.tech-container{
  text-align: center;
  padding-bottom: 20px;
}
.tech-title{
  text-align: center;
}

.tech-names{
  text-align: center;
  color: #3dc3fc;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: bolder;

}
.tech-names span{
  color: white;
}

/* ========================================== */
/*          CONTACT INFORMATION DESIGN        */
/* ========================================== */
.contact-title{
  letter-spacing: 5px;
  font-weight: bolder;
  font-family: Arial;
}
.contact-statement{
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.contact-detail{
  font-size: 1.2rem;
  color: #e9ff7d;
  letter-spacing: 2px;
}
#contact-section{
  position: relative;
  padding-top: 70px;
}
.contact-me-container{
  max-width: 500px;
  margin:auto;
  color: white;
  padding: 50px;
  text-align: center;

}
.contact-info-container{
  padding-top: 10px;
  padding-bottom: 30px;
}
/* style for the footer*/
footer{

  color:white;
  padding-bottom: 20px;
  text-align: center;
}


/* ========================================== */
/*          DIFFERENT SCREEN SIZE STYLIN      */
/* ========================================== */

 @media screen and (max-width: 700px) {
   .home-container{
     padding: 50px 0px 200px 0px;
     height: auto;
   }
   .name{
     font-size: 1em;
     padding-top: 50px;
   }
   .main-header{
     font-size: 1.8em;
   }
   .opening-paragraph{
     font-size: 1.5em;
   }

   .opening-title, .supporting-par,.skill-name, .expertise-level{
     font-size: 1em;

   }
   .contact-title, .goals-title{
     font-size: 25px;
   }
   .goal-inner-container{
     padding: 0px 10px 0px 10px;
   }
 }
